body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100vh;
}


#speed {
    vertical-align: auto;
    margin: .5rem;
}

#speed-controls {
    display: flex;
    align-items: center;
}

#speed-controls > button {
    border: none;
    height: 2rem;
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
    width: 3rem;
    text-align: center;
    margin: .5rem;
}



/* Fonts */

.font-nova {
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.font-lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.font-lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.font-size-xs {
    font-size: x-small;
}

.font-size-s {
    font-size: small;
}

.font-size-m {
    font-size: medium;
}

.font-size-l {
    font-size: large;
}

.font-size-xl {
    font-size: x-large;
}

.font-size-xxl {
    font-size: 16rem;
}

